{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container ">
        <div class="row pt-5">
            <div class="col-5 mt-5 offset-3">
        <h3>All descriptions</h3><br>
        <div class="container">
                <a href="{% url 'addjd' %}" class="btn btn-primary float-end">Add description</a>
            </div>
        <table class="table table-striped table-bordered-sm" ><br/>
            <tr>
                <th>job id</th>
                <th>job title</th>
                <th>action</th>
            </tr>
            {% if descriptions %}
            {% for i in descriptions %}
            <tr>
                <td>{{i.job_id}}</td>
                <td>{{i.job_title}}</td>
                <td>
                    <a href="{% url 'deletejd' i.job_id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'updatejd' i.job_id %}" class="btn btn-warning">Update</a>

                </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>category is empty </p>
        {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}